/* Color scheme: https://mycolor.space/?hex=%2339F057&sub=1 */

/* Level creator start */

#main-box {
    background-color: #006982;
    border: 1px solid #2F4858;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    width: 50%;
    float: left;
}

#instructions {
    background-color: #006982;
    border: 1px solid #2F4858;
    font-size: 15px;
    margin-top: 5px;
    padding: 5px;
    width: 45%;
    float: right;
    color: #E6E6DA;
}

span {
    background-color: #DBF9D8;
    border: 1px solid #2F4858;
}

#enemies {
    background-color: #A1AF9F;
    border: 5px solid #2F4858;
    margin-bottom: 10px;
}

#enemy {
    background-color: #A1AF9F;
    border: 1px solid #2F4858;
    padding: 10px;
}

button {
    font-size: 30px;
    background-color: #E6E6DA;
    border: 10px solid #377ABB;
    margin-top: 10px;
}

#player, #gate {
    margin-bottom: 20px;
}

#config-json {
    font-size: 15px;
    width: auto;
    height: auto;
}

pre {
    background-color: #E6E6DA;
    border: 10px solid #2F4858;
    font-family: "Lucida Console";
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

button.btn{
    font-size: 15px;
}

/* Level creator end */